body{
  font-family:Arial, Helvetica, sans-serif;
}

body {
    background-image: url("bts4.jpg");
  }


  
#bts1{
  height: 600px;
  width: 1255px;

}


nav{
  width: 1255px;
  margin-left: auto;
  margin-right: auto;
  
}
ul{
  background-color: white;
  text-align: center;
  list-style-type: none;

}

nav ul{
  
  margin: 10px 10px 0px 10px;
  list-style-type: none;
  padding: 5px 0px 5px 0px;
}
nav ul li{
  display: inline;
  padding: 5px 10px 5px 10px;
  border-right: 2px solid black;
  text-decoration: none;
  color: black;
}

ul li a:link, ul li :visited{
  color: black;
  border-bottom: none;
  text-decoration: none;
}

h1 a:link, h1 :visited{
  color: #C92020;
  border-bottom: none;
  text-decoration-color: black;
}

a:visited{
  color: black;
}
nav li:last-child {
        border-right: none; 
        text-decoration: none;
}

#k{
  text-align: center;
  background-color: white;
  font-size: 100px;
  color: #C92020;
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 3px;
  border-radius: 0;

}

h1{
  text-align: center;
  color: #C92020;
  text-decoration: underline;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
  background-color: white;
  margin: auto;
  border-radius: 20px;
  

}

#tab1{
  background-color: white;
  float: center;
  margin: auto;
  border-radius: 20px;
  
}

#b{
  font-size: 30px;
  color: #1B0BAA;
}
#t{
  font-size: 30px;
  color: #1B0BAA;
}
#e{
  font-size: 30px;
  color: #1B0BAA;
}
#tab2{
  background-color: white;
  float: center;
  margin: auto;
  border-radius: 20px;
  
}

img{  
    display: table-cell;
    width: 250px;
    height: 175px;
    text-align: center;
    border-radius: 20px;
      
}

#bts8{
  margin: auto;
  width: 1000px;
  height: 500px;
  padding: 20px;
}

#text{
  text-align: center;
  margin: auto;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 35px;
  padding-top: 25px;
  border-radius: 20px;
}

#b2{
 text-align: center;
  color: white;
  text-decoration: none;
  background-color: red;
  border: none;
  color: white;
  font-size: 20px;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;
  text-decoration-color: red;
  

}
#b2 a:link, ul li :visited{
  color: white;
  border-bottom: none;
}

#b3{
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}

.b4{
  text-decoration: none;
}
#her{
  color: black;
  border-bottom: none;
}

.$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) 

.img-fluid{
  max-width: 100%;
  height:auto;
}


footer{
  width: 1255px;
  margin-left:auto;
  margin-right: auto;
  background-color: white;
  height: 30px;
  text-align: center;
  border-radius: 20px;
}